name: Plane Proxy CI-CD

on:
  push:
    branches: [main]

jobs:
  build-publish:
    runs-on: ubuntu-latest
    env:
      DOCKERFILE: Dockerfile
      TAG: interproxy
    steps:
     - uses: actions/checkout@v2
     - name: files-ls
  # You may pin to the exact commit or the version.
       uses: sigyl-actions/files-ls@v0.0.1
       with:
        folder: "/"      
     - name: Docker Login
       uses: docker/login-action@v3.0.0
       with:
        registry: ${{secrets.DOCKER_HOST}}
        username: ${{secrets.DOCKER_USERNAME}}
        password: ${{secrets.DOCKER_PASSWORD}}      
     - name: Build and push Docker images
  # You may pin to the exact commit or the version
       uses: docker/build-push-action@v5.1.0
       with:
        context: ./
        file: Dockerfile
        push: true
        tags: |
          ${{secrets.DOCKER_HOST}}/${{env.TAG}}
  deploy:
    needs: build-publish
    runs-on: self-hosted
    env:
      TAG: interproxy
    steps:
     - name: SSH Command
    # uses: nekiro/ssh-job@e0d177751aced5bcaf110ce4d782a681e5e12856
       uses: nekiro/ssh-job@v1.0.5
       with:
        command: sudo docker pull ${{secrets.DOCKER_HOST}}/${{env.TAG}}; sudo docker stop ${{env.TAG}}; docker rm ${{env.TAG}}; sudo docker run --name ${{env.TAG}} --restart=unless-stopped -p 15672:15672 -p 5002:80 -p 1883:1883 -p 6000:6000 --net inter_network -m=250m  -d ${{secrets.DOCKER_HOST}}/${{env.TAG}}; 
        host: ${{secrets.HOST}}
        user: ${{secrets.CENTURION_USERNAME}}
        password: ${{secrets.CENTURION_PASSWORD}}
